Balancas/Service References/BalancasWS/Balancas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BalancasParaRecolher">
        <s:complexType />
      </s:element>
      <s:element name="BalancasParaRecolherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BalancasParaRecolherResult" type="tns:ArrayOfLocalizacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocalizacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Localizacao" nillable="true" type="tns:Localizacao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Localizacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BalancasParaRecolherSoapIn">
    <wsdl:part name="parameters" element="tns:BalancasParaRecolher" />
  </wsdl:message>
  <wsdl:message name="BalancasParaRecolherSoapOut">
    <wsdl:part name="parameters" element="tns:BalancasParaRecolherResponse" />
  </wsdl:message>
  <wsdl:portType name="BalancasSoap">
    <wsdl:operation name="BalancasParaRecolher">
      <wsdl:input message="tns:BalancasParaRecolherSoapIn" />
      <wsdl:output message="tns:BalancasParaRecolherSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalancasSoap" type="tns:BalancasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BalancasParaRecolher">
      <soap:operation soapAction="http://tempuri.org/BalancasParaRecolher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalancasSoap12" type="tns:BalancasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BalancasParaRecolher">
      <soap12:operation soapAction="http://tempuri.org/BalancasParaRecolher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Balancas">
    <wsdl:port name="BalancasSoap" binding="tns:BalancasSoap">
      <soap:address location="http://localhost:52994/Balancas.asmx" />
    </wsdl:port>
    <wsdl:port name="BalancasSoap12" binding="tns:BalancasSoap12">
      <soap12:address location="http://localhost:52994/Balancas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>